### Imports

In [2]:
import pandas as pd

### Load the CSVs

In [ ]:
# Load the CSVs
df_main = pd.read_csv('data/ted_main.csv')
df_transcripts = pd.read_csv('data/transcripts.csv')

# Quick overview
print(f"Main has {df_main.shape[0]} rows and {df_main.shape[1]} columns.")
print(f"Transcripts has {df_transcripts.shape[0]} rows and {df_transcripts.shape[1]} columns.")

Main has 2550 rows and 17 columns.
Transcripts has 2467 rows and 2 columns.

### Merge

In [4]:
# We join using the 'url' column present in both files
df = pd.merge(left=df_main, right=df_transcripts, on='url', how='inner')

# Verification
print(f"The final dataset has {df.shape[0]} rows.")
df.head(2)

The final dataset has 2467 rows.

,comments,description,duration,event,film_date,languages,main_speaker,name,num_speaker,published_date,ratings,related_talks,speaker_occupation,tags,title,url,views,transcript
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,1140825600,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,1,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 19645}, {...","[{'id': 865, 'hero': 'https://pe.tedcdn.com/im...",Author/educator,"['children', 'creativity', 'culture', 'dance',...",Do schools kill creativity?,https://www.ted.com/talks/ken_robinson_says_sc...,47227110,Good morning. How are you?(Laughter)It's been ...
1,265,With the same humor and humanity he exuded in ...,977,TED2006,1140825600,43,Al Gore,Al Gore: Averting the climate crisis,1,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 544}, {'i...","[{'id': 243, 'hero': 'https://pe.tedcdn.com/im...",Climate advocate,"['alternative energy', 'cars', 'climate change...",Averting the climate crisis,https://www.ted.com/talks/al_gore_on_averting_...,3200520,"Thank you so much, Chris. And it's truly a gre..."